* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    border: 1px solid red; /*i afk now*/ <------
}

p {
    position: relative;
}

figure {
    position: relative;
    /*left: 97px; MAYBE THIS ISNT NECESSARY*/
    text-align: center;
    float: left;
    display: inline-block;
    margin: 15px;
}

img {
    border-color: #aa5ff0;
    border-width: 5px;
}