* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    
}

p {
    position: relative;
}

figure {
    position: relative;
    left: 10rem;
    text-align: center;
    float: left;
    margin: 15px;
}
#jt{
    position:absolute;
    left:50rem;
    float:right;
    margin:15px;
    text-align: center;
}
img {
    border-color: #aa5ff0;
    border-width: 5px;
}