/* in room.html */
.chat {
    position: fixed;
    right: 31px;
    bottom: 139px;
    background-color: rgb(225, 199, 235);
    width: 260px;
    height: 280px;
    box-sizing: border-box;

}

.chat-header {
    background-color:rgb(0, 0, 0);
    padding: 2px 2px;
    color: #bd5bbd;
    font-weight: bold;
}
.main-chat {
    background-color:blueviolet;
}

.chat-open-btn, .chat-close-btn {
    background-color: #aa5ff0;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 69px;
    height: 69px;
    transition-duration: 0.2s;
    border-radius: 100%;
}
.chat-open-btn:hover, .chat-close-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.199), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #ba82ee;
    color: white;
}

#input {
    width: 17%;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    position: fixed;
    bottom: 95px;
    right: 60px;
}

 .chat-send-btn {
     padding: 3px 3px;
     position: fixed;
     right: 30px;
     bottom: 103px;
     height: 36px;
 }

.tasks {
    position: fixed;
    width: 260;
    height: 280;
    right: 60px;
    bottom: 339px;
    box-sizing: border-box;
}
/*
.task {
    width: 100px;
    height: 70px;
    font-size:20px;
    position:fixed;
    right: 181px;
    bottom: 239px;
    box-sizing: border-box;
}
*/

 h2 {
    text-align:center;
    color: black;
    opacity: 1;
 }

 .worktime {
    background-color: rgba(255, 255, 255, 0.568);
    color: #fff;
    clear: none;
    width: 37%; 
    height:140px;
    position: absolute;
    left: 30px;
    bottom: 0;

 }

 .breaktime {
    background-color: rgba(255, 255, 255, 0.568);
    color: #fff;
    bottom: 0;
    clear: none;
    width: 37%;
    height:140px;
    position: absolute;
    left: 33rem;
 }

  #butts {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    position:relative;
    left: 7.7%;
    background-color: white;
    opacity: 1 !important; /*why tf isnt this working*/
    border-width: 5px;
    border-color: #bd5bbd;
  }

  buttons {
      opacity: 1;
  }

 #countdown {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 70px;
    font-size:200px;
    position:fixed;
    top:21rem;
    left: 27.9rem;
}
.rect{
   position: fixed; 
   background: #d4c4d4b9;
   top: 17rem;
   left:28rem;
   width: 560px;
   height: 200px;
}
