/* in room.html */
* {
    border: 1px solid red;
}
.chat {
    position: fixed;
}
.chat-open-btn {
    background-color: #aa5ff0;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 69px;
    height: 69px;
    transition-duration: 0.4s;
    border-radius: 100%;
}
.chat-open-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.199), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #ba82ee;
    color: white;
}

#chat-input {
    width: 10%;
    padding: 5px 8px;
    margin: 8px 0;
    box-sizing: border-box;
    position: static;
    bottom: 30px;
    right: 20px;
}
 #chat-form {
     position: relative;
     top: 300px;
 }

 .chat-send-btn {
     padding: 2px 2px;
 }



 h2 {
    text-align:center;
    color: black;
    opacity: 1;
 }

 .worktime {
    background-color: rgb(255, 255, 255);
    color: #fff;
    bottom: 125px;
    clear: none;
    width: 37%; 
    position: absolute;
    left: 36%;
    opacity: 50%;
 }

 .breaktime {
    background-color: rgb(255, 255, 255);
    color: #fff;
    opacity: .5;
    bottom: 125px;
    clear: none;
    width: 37%;
    position: absolute;
    left: 36%;
    opacity: 50%;3
 }

  #butts {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    position:relative;
    left: 7.7%;
    background-color: white;
    opacity: 100 !important; /*why tf isnt this working*/
    border-width: 5px;
    border-color: #bd5bbd;
  }

  buttons {
      opacity: 1;
  }

 p{
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    height: 70px;
    font-size:200px;
    position:fixed;
    top:21rem;
    left: 30rem;
}
.rect{
   position: fixed; 
   background: #d4c4d4b9;
   top: 17rem;
   left:28rem;
   width: 560px;
   height: 200px;
}
