* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #d3c4d3;
    background-image:linear-gradient(to bottom, #9b3c9b 0%, #d3c4d3 100%) ;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    height: 75px;
    left: 40px;
    position: absolute;


}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar_links{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 1.5rem;
}
.navbar_links:hover{
    color:#b968b9;
    transition:all 0.3s ease;
}

.main{
    background-color: #b968b9;
}

.breaktime{
    visibility: hidden;
}

.chat-btn {
    background-color: #5fbbf0;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.chat-btn {border-radius: 50%;}
body{
    background: #d3c4d3;
    background-size: 400% 400%;
    position: relative;
    animation: change 15s ease-in-out infinite;
}

h1{
    font-size:1.3rem;
    color: white;
    position:absolute;
    top: 25rem;
    left: 45.8rem;
    transform: translate (-50%, -50%);
}
h2{
    position:absolute;
    top: 27rem;
    left: 44.5rem;
    transform: translate (-50%, -50%);
}
button{
    position:absolute;
    top: 30rem;
    left: 47.5rem;
    transform: translate (-50%, -50%);
}
.rect{
    background: #bd5bbd;
    width: 300px;
    height: 200px;
    top: 22rem;
    left: 40rem;
    position:absolute
}
image{
    top: 20rem;
    left:100rem;
    position:absolute;
}
