* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: large;
    /*border: 1px solid red;*/
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #d3c4d3;
    background-image:linear-gradient(to bottom, #9b3c9b 0%, #d3c4d3 100%) ;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    height: 75px;
    left: 40px;
    position: absolute;
}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar_links{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 1.5rem;
}
.navbar_links:hover{
    color:#b968b9;
    transition:all 0.3s ease;
}

.main{
    background-color: #b968b9;
}

.breaktime{
    visibility: hidden;
}


body {
    background: #d3c4d3;
    background-size: 400% %;
    /*overflow: hidden;*/
    position: relative;
    animation: change 15s ease-in-out infinite;
}

h1 {
    font-size:1.3rem;
    color: white;
    position:absolute;
    top: 18.5rem;
    left: 39.3rem;
    transform: translate (-50%, -50%);
}
input{
    position:absolute;
    top: 22rem;
    left: 36.2rem;
    transform: translate (-50%, -50%);
}
button{
    position:absolute;
    top: 25rem;
    left: 40.5rem;
    transform: translate (-50%, -50%);
}
.rect{
    position: fixed; 
    background: #bd5bbd;
    top: 17rem;
    left:34.5rem;
    width: 300px;
    height: 200px;
}
foot {
    position: fixed;  
    left: 10px;  
    bottom: 5px;  
    right: 10px;   
    width: 100%;  
    background-color:black;  
    color: white;  
    text-align: center;  
}
image{
    top: 20rem;
    left:100rem;
    position:absolute;
}
/* for a translucent box/mask over most of the bg image to make text more readable
.box {
    height:666px;
    width:666px;
    background-color: rgb(255, 255, 255);
    color: #fff;
    opacity: .5;
}
*/
figcaption{
    position:absolute;
    text-align: center;
    margin: 0.1in 0 0.5in 0;
    font-size: 14px;
}
p{
    text-align: left;
    margin:2rem 1in 2rem 1in;
}
figure{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 27%;
}
marquee {
    font-size: 2rem;
    font-family: Trattatello, fantasy, bold;
  }

