* {
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top:0;
    z-index: 999;
}
.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width:100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar_logo{
    background-color: #d3c4d3;
    background-image:linear-gradient(to bottom, #9b3c9b 0%, #d3c4d3 100%) ;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display:flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    height: 75px;

}

.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navbar_item{
    height: 80px;
}
.navbar_links{
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    font-size: 1.5rem;
}
.navbar_links:hover{
    color:#b968b9;
    transition:all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar_container{
        display: flex;
        justify-content:space-between ;
        height: 80px;
        z-index:1 ;
        width: 100%;
        max-width: 1300px;
        padding:0;

    }
    .navbar_menu{
        display:grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
        
    }
    .navbar_menu.active{
        background: #131313;
        top: 100%;
        opacity:1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar_logo{
        padding-left: 25px;

    }
    .navbar_toggle.bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background:white;
    }
    .navbar_item{
        width: 100%;

    }
    .navbar_links{
        text-align: center;
        padding: 2rem;
        width:100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate (5%, 20%);
    }
    .navbar_toggle .bar{
        display: block;
        cursor:pointer;
    }
}
.main{
    background-color: #b968b9;
}